@page "/giaodichEdit/{id:guid}"
@using DAL.Entities
@using PL.Guides.Serivce
@inject IGiaoDichService GiaoDichService
@inject NavigationManager NavigationManager

@if(giaoDichSua == null)
{
    <p>Đang Load</p>
}
else{


<h3>Edit</h3>
<EditForm Model="giaoDichSua" OnValidSubmit="HandelAsync">
    <div class="mb-3">
        <label for="NguoiThucHien" class="form-label" >NguoiThucHien</label>
        <InputText id="NguoiThucHien" class="form-control" @bind-Value="giaoDichSua.NguoiThucHien"/>
    </div
    <div class="mb-3">
        <label for="LoaiGiaoDich" class="form-label" >LoaiGiaoDich</label>
        <InputText id="LoaiGiaoDich" class="form-control" @bind-Value="giaoDichSua.LoaiGiaoDich"/>
    </div>
    <div class="mb-3">
        <label for="DiaChiVi" class="form-label" >DiaChiVi</label>
        <InputText id="DiaChiVi" class="form-control" @bind-Value="giaoDichSua.DiaChiVi"/>
    </div>
    <div class="mb-3">
        <label for="SoLuong" class="form-label" >SoLuong</label>
        <InputNumber id="SoLuong" class="form-control" @bind-Value="giaoDichSua.SoLuong"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label" ></label>
        <InputDate id="NgayGiaoDich" class="form-control" @bind-Value="giaoDichSua.NgayGiaoDich"/>
    </div>
    <div class="mb-3">
        <label for="PhiGiaoDich" class="form-label" >PhiGiaoDich</label>
        <InputNumber id="PhiGiaoDich" class="form-control" @bind-Value="giaoDichSua.PhiGiaoDich"/>
    </div>
    <div class="mb-3">
        <label for="TrangThai" class="form-label" >TrangThai</label>
        <InputText id="TrangThai" class="form-control" @bind-Value="giaoDichSua.TrangThai"/>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
    <button type="button" class="btn btn-primary" @onclick="Back">Hủy</button>"
</EditForm>

}

@code {
    [Parameter]
    public Guid id {get; set;}

    private GiaoDichTaiChinh giaoDichSua;

    protected override async Task OnInitializedAsync()
    {
        giaoDichSua = await GiaoDichService.GetByIdAsync(id);
        
    }

    private async Task HandelAsync()
    {
        await GiaoDichService.UpdateAsync(id, giaoDichSua);
        NavigationManager.NavigateTo("/giaodichs");
    }

    private async Task Back()
    {
        NavigationManager.NavigateTo("/giaodichs");
    }
}
