@page "/addgiaodich"
@using DAL.Entities
@using PL.Guides.Service
@inject IGiaoDichService GiaoDichService
@inject NavigationManager NavigationManager

<h3>GiaoDichAdd</h3>
<EditForm Model="newGiaoDich" OnValidSubmit="HandleSubmit">
    <div class="mb-3">
        <label for="NguoiThucHien" class="form-label">NguoiThucHien</label>
        <InputText id="NguoiThucHien" class="form-control" @bind-Value="newGiaoDich.NguoiThucHien" />
    </div>
    <div class="mb-3">
        <label for="DiaChiVi" class="form-label">DiaChiVi</label>
        <InputText id="DiaChiVi" class="form-control" @bind-Value="newGiaoDich.DiaChiVi" />
    </div>
    <div class="mb-3">
        <label for="SoLuong" class="form-label">SoLuong</label>
        <InputNumber id="SoLuong" class="form-control" @bind-Value="newGiaoDich.SoLuong" />
    </div>
    <div class="mb-3">
        <label for="NgayGiaoDich" class="form-label">Ngày giao dịch</label>
        <InputDate id="NgayGiaoDich" class="form-control" @bind-Value="newGiaoDich.NgayGiaoDich" />
    </div>
    <div class="mb-3">
        <label for="PhiGiaoDich" class="form-label">PhiGiaoDich</label>
        <InputNumber id="PhiGiaoDich" class="form-control" @bind-Value="newGiaoDich.PhiGiaoDich" />
    </div>
    <div class="mb-3">
        <label for="LoaiGiaoDich" class="form-label">LoaiGiaoDich</label>
        <InputSelect id="LoaiGiaoDich" class="form-select" @bind-Value="newGiaoDich.LoaiGiaoDich">
            <Option value="Gửi">Gửi</Option>
            <Option value="Nhận">Nhận</Option>
            <Option value="Hoán đổi">Hoán đổi</Option>
        </InputSelect>
    </div>
    <div class="mb-3">
        <label for="TrangThai" class="form-label">TrangThai</label>
        <InputSelect id="TrangThai" class="form-select" @bind-Value="newGiaoDich.TrangThai">
            <Option value="Đang xử lý">Đang xử lý</Option>
            <Option value="Thành công">Thành công</Option>
            <Option value="Thất bại">Thất bại</Option>
        </InputSelect>
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
    <button type="button" class="btn btn-primary" @onclick="GoBack">Hủy</button>
</EditForm>

@code {
    private GiaoDichTaiChinh newGiaoDich = new() ;
    private DateTime NgayGiaoDich = DateTime.Now;

    private async Task HandleSubmit()
    {
        await GiaoDichService.AddAsync(newGiaoDich);
        NavigationManager.NavigateTo("/giaodichs");
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/giaodichs");
    }
}
